.img-user {
    width: 52px;
    height: 52px;
    border-radius: 46px;
}

.img-gambar-pertanyaan {
    width: 294px;
}

.answer-img {
    width: 46px;
    height: 46px;
    border-radius: 46px;
}

.answer-text {
    font-size: 18px;
    text-align: justify;
}

p.created_at {
    font-size: 12px;
}

.keterangan-card {
    font-weight: lighter;
}

.id_invisible {
    visibility: hidden;
}